body {
	font-family: sans-serif;
}

.form {
	background-image: url(image42.jpg);
	background-repeat: no-repeat;
	border: 1px solid #335;
	border-radius: 6px;
	max-width: 300px;
	padding: 15px;
	margin: 0 auto;
}

.form-group {
	border: none;
	padding: 0;
}

.form-group-title {
	font-weight: 700;
	padding: 0;
	margin-bottom: 10px;
	font-size: 20px;
}

.textarea {
	max-height: 150px;
	min-height: 30px;
	resize: vertical;
}

.label {
	display: block;
	margin-bottom: 5px;
}

.input,
.textarea {
	border: 1px solid #335;
	border-radius: 6px;
	min-width: 220px;
	padding: 5px 12px;
	margin-bottom: 10px;
	outline: none;
}

.checkbox {
	cursor: pointer;
	margin-bottom: 15px;
}

.checkbox-text {
	font-size: 14px;
}

.button {
	border: none;
	border-radius: 6px;
	padding: 5px 15px;
	cursor: pointer;
	background-color: #daf765;
	font-size: 16px;
}
