table {
	font-family: sans-serif;
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th,
caption {
	border: 1px solid #000;
	text-align: center;
}

caption {
	border-bottom: none;
}

.z {
	font-size: 25px;
	font-weight: 600;
}
.vh {
	color: red;
}
